# Databse
DATABASE_URL="postgresql://[username]:[password]@localhost:5432/[db]?schema=public"

# Origin Frontend
FRONT_ORIGIN="http://localhost:3000"

# Jwt
JWT_SECRET="secret_jwt"

# Port
PORT="3001"
